.login-page{
    background-color: rgba(27, 27, 39, 1);
    align-items: center;
    height: 100vh;
    display: flex;
}

.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-items: center;
    color: white;
  }
  
  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-btn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
  }
  
  .login-btn:hover {
    background-color: #ccc;
    cursor: pointer;
  }

  .redirectSignup{
    margin: 10px;
  }
  
  .redirectSignup span{
    color: pink;
  }

  .redirectSignup span:hover{
    cursor: pointer;
  }