.signup-page{
    background-color: rgba(27, 27, 39, 1);
    align-items: center;
    height: 100vh;
    display: flex;
}

.signup-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-items: center;
    color: white;
  }
  
  .signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signup-btn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
  }
  
  .signup-btn:hover {
    background-color: #ccc;
    cursor: pointer;
  }

  .redirectSignin{
    margin: 10px;
  }
  
  .redirectSignin span{
    color: pink;
  }

  .redirectSignin span:hover{
    cursor: pointer;
  }

  .userTag{
    display: flex;
  }

  input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}